body {
  background-image: url('image/hinhnen.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
h4 {
  border: 2px solid black;
  padding: 10px;
  font-family: Brush Script MT;
  margin: 0;
}
